@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
}
<li class='menu-item@(currentPage.StartsWith("/Portfolio") || currentPage.StartsWith("/StockEvents") ? " active open" : "")'>
    <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-archive"></i>
        <div>Portfolio</div>
    </a>

    <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Portfolio/Manager" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="Manager" class="menu-link">
                <div>View Overview</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/Summary" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="Summary" class="menu-link">
                <div>Portfolio Summary</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/PortfolioTransactionsV1" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="PortfolioTransactionsV1" class="menu-link">
                <div>Manage Transactions</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/Holdings" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="Holdings" class="menu-link">
                <div>View Holdings</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/ManagePortfolioHoldings" ? " active" : "")'>
            <a asp-controller="ManagePortfolioHoldings" asp-action="Index" class="menu-link">
                <div>Manage Holdings</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/PortfolioSummary" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="PortfolioSummary" class="menu-link">
                <div>Asset Breakdown</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/PortfolioOperations" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="PortfolioOperations" class="menu-link">
                <div>Portfolio Operations</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/Transactions" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="Transactions" class="menu-link">
                <div>Transaction History</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/TransactionsPivot" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="TransactionsPivot" class="menu-link">
                <div>Pivot Analysis</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/Performance" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="Performance" class="menu-link">
                <div>Portfolio Performance</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/PortfolioScrener" ? " active" : "")'>
            <a asp-controller="PortfolioScrener" asp-action="Index" class="menu-link">
                <div>Portfolio Screener</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="Index" class="menu-link">
                <div>Portfolio Settings</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/PortfolioItems/Index" ? " active" : "")'>
            <a asp-controller="PortfolioItems" asp-action="Index" class="menu-link">
                <div>Itemized Holdings</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/StockEvents/Index" ? " active" : "")'>
            <a asp-controller="StockEvents" asp-action="Index" class="menu-link">
                <div>Stock Events</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/Fundamentals" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="Fundamentals" class="menu-link">
                <div>Fundamental Analysis</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/Qualitatives" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="Qualitatives" class="menu-link">
                <div>Qualitative Metrics</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/LossesManager" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="LossesManager" class="menu-link">
                <div>Harvest Losses</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/PortfolioBuilder" ? " active" : "")'>
            <a asp-controller="PortfolioBuilder" asp-action="Index" class="menu-link">
                <div>Investment Predictor</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/Import" ? " active" : "")'>
            <a href="/Portfolio/Import" class="menu-link">
                <div>Import Portfolio</div>
            </a>
        </li>
    </ul>
</li>

<li class="menu-header small text-uppercase">
    <span class="menu-header-text">Portfolio Dividends</span>
</li>
<li class='menu-item@(currentPage.StartsWith("/PortfolioDividends") ? " active open" : "")'>
    <a href="javascript:void(0);" class="menu-link menu-toggle">
        <div>Portfolio Dividends</div>
    </a>
    <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/PortfolioDividends/Dividends" ? " active" : "")'>
            <a asp-controller="PortfolioDividends" asp-action="Dividends" class="menu-link">
                <div>Dividend History</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/PortfolioDividends/PortfolioUpcomingDividends" ? " active" : "")'>
            <a asp-controller="PortfolioDividends" asp-action="PortfolioUpcomingDividends" class="menu-link">
                <div>Upcoming Dividends</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/PortfolioDividends/PortfolioAllDividends" ? " active" : "")'>
            <a asp-controller="PortfolioDividends" asp-action="PortfolioAllDividends" class="menu-link">
                <div>All-Time Dividends</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/PortfolioDividends/DividendsCalendar" ? " active" : "")'>
            <a asp-controller="PortfolioDividends" asp-action="DividendsCalendar" class="menu-link">
                <div>Dividend Calendar</div>
            </a>
        </li>
    </ul>
</li>

