@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
}
<li class='menu-item@(currentPage.StartsWith("/Portfolio") || currentPage.StartsWith("/StockEvents") ? " active open" : "")'>
    <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx bx-archive"></i>
        <div>Portfolio</div>
    </a>

    <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Portfolio/Summary" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="Summary" class="menu-link">
                <div>Summary</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/SummaryXtb" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="SummaryXtb" class="menu-link">
                <div>Summary XTB</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/Performance" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="Performance" class="menu-link">
                <div>Performance</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/PortfolioScrener" ? " active" : "")'>
            <a asp-controller="PortfolioScrener" asp-action="Index" class="menu-link">
                <div>Screener</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/Index" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="Index" class="menu-link">
                <div>Manage</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/PortfolioItems/Index" ? " active" : "")'>
            <a asp-controller="PortfolioItems" asp-action="Index" class="menu-link">
                <div>Holdings</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/Dividends" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="Dividends" class="menu-link">
                <div>Dividends</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/DividendsCalendar" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="DividendsCalendar" class="menu-link">
                <div>Dividends Calendar</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/StockEvents/Index" ? " active" : "")'>
            <a asp-controller="StockEvents" asp-action="Index" class="menu-link">
                <div>Events</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/Fundamentals" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="Fundamentals" class="menu-link">
                <div>Fundamentals</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/Qualitatives" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="Qualitatives" class="menu-link">
                <div>Qualitatives</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/LossesManager" ? " active" : "")'>
            <a asp-controller="Portfolio" asp-action="LossesManager" class="menu-link">
                <div>Losses Manager</div>
            </a>
        </li>
        <li class='menu-item@(currentPage == "/Portfolio/PortfolioBuilder" ? " active" : "")'>
            <a asp-controller="PortfolioBuilder" asp-action="Index" class="menu-link">
                <div>Investment Prediction</div>
            </a>
        </li>


    </ul>
</li>
