<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <i class="bi bi-building"></i> Company Summary
        </h5>
        <div id="companySummary">
            <h6>Loading...</h6>
        </div>
    </div>
</div>
