@model MarketAnalyticHub.Models.DetailScreenerViewModel
<div class="col-md-6 col-lg-6">
    <div>
        <h6 id="companySummary" class="card-title">Loading...</h6>
    </div>

    <div class="card card-body d-flex mb-4 " id="finance-card">
        <div id="market-state">Market State: Loading...</div>
        <p id="post-market-change">Post-Market Change: --</p>
        <p id="post-market-change-percent">Post-Market Change Percent: --</p>
        <p id="post-market-price">Post-Market Price: --</p>
        <p id="post-market-time">Post-Market Time: --</p>
    </div>
    <div class="card card-body d-flex mb-4 " id="finance-card">
        <p id="pre-market-change">Pre-Market Change: --</p>
        <p id="pre-market-change-percent">Pre-Market Change Percent: --</p>
        <p id="pre-market-price">Pre-Market Price: --</p>
        <p id="pre-market-time">Pre-Market Time: --</p>
    </div>
</div>

