<!-- Chart Tab -->
<div class="tab-pane fade show active" id="chart" role="tabpanel">
    <div id="chartContainer"></div>
</div>

<!-- News Tab -->
<div class="tab-pane fade" id="news" role="tabpanel">
    <ul id="newsList" class="list-group">
        <li class="list-group-item">No news available.</li>
    </ul>
</div>

<!-- Details Tab -->
<div class="tab-pane fade" id="details" role="tabpanel">
    <table class="table">
        <tbody id="detailsTable">
            <tr><th>Symbol</th><td>N/A</td></tr>
            <tr><th>Price</th><td>N/A</td></tr>
            <tr><th>Change</th><td>N/A</td></tr>
            <tr><th>Currency</th><td>N/A</td></tr>
        </tbody>
    </table>
</div>

<!-- Fundamentals Tab -->
<div class="tab-pane fade" id="fundamentals" role="tabpanel">
    <table class="table">
        <tbody id="fundamentalsTable">
            <tr><th>P/E Ratio</th><td>N/A</td></tr>
            <tr><th>EPS</th><td>N/A</td></tr>
            <tr><th>Dividend Yield</th><td>N/A</td></tr>
            <tr><th>Market Cap</th><td>N/A</td></tr>
        </tbody>
    </table>
</div>

<!-- Dividends Tab -->
<div class="tab-pane fade" id="dividends" role="tabpanel">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Ex-Dividend Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody id="dividendsTable">
            <tr>
                <td colspan="3">No dividend data available.</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Signals Tab -->
<div class="tab-pane fade" id="signals" role="tabpanel">
    <div id="technicalSignalsChart" style="height: 300px;"></div>
    <div id="analystSignalsChart" style="height: 300px; margin-top: 20px;"></div>
</div>
