@model DashboardViewModel

<div class="col-md-6 col-lg-4 order-2 mb-4">
    <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="card-title m-0 me-2">Transactions</h5>
            <div class="dropdown">
                <button class="btn p-0" type="button" id="transactionID" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                    <a class="dropdown-item" href="javascript:void(0);" onclick="filterTransactions('Last 28 Days')">Last 28 Days</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="filterTransactions('Last Month')">Last Month</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="filterTransactions('Last Year')">Last Year</a>
                    <a class="dropdown-item" href="javascript:void(0);" onclick="filterTransactions('All')">All</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="transactionsList">
                @Html.Partial("_TransactionsPartial", Model.Transactions)
            </div>
        </div>
    </div>
</div>

<script>
    function filterTransactions(filter) {
        $.ajax({
            url: '@Url.Action("GetTransactions", "Dashboard")',
            data: { filter: filter },
            success: function (data) {
                $('#transactionsList').html(data);
            },
            error: function (xhr, status, error) {
                console.error('Error fetching transactions:', error);
            }
        });
    }
</script>
