
@{
    ViewData["Title"] = "Facebook";
    ViewData["container"] = (ViewData["container"] ?? "container-fluid");
    ViewData["containerNav"] = (ViewData["containerNav"] ?? "container-fluid");
}

<h1>Facebook</h1>

