@model PaginatedList<MarketAnalyticHub.Models.News.NewsItem>

@{
    ViewData["Title"] = "News";
    ViewData["container"] = (ViewData["container"] ?? "container-fluid");
    ViewData["containerNav"] = (ViewData["containerNav"] ?? "container-fluid");
}

<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Sources /</span> News
</h4>

<div class="col-12">
    <h6 class="text-muted">Research</h6>
    <div class="nav-align-top mb-4">
        <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
                <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-home" aria-controls="navs-justified-home" aria-selected="true">
                    <i class="tf-icons bx bx-news me-1"></i><span class="d-none d-sm-block"> News</span>
                    <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger ms-1">@Model.Count</span>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-profile" aria-controls="navs-justified-profile" aria-selected="false">
                    <i class="tf-icons bx bx-home me-1"></i>
                    <span class="d-none d-sm-block"> Analytics</span>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-messages" aria-controls="navs-justified-messages" aria-selected="false">
                  <i class="tf-icons bx bx-message-square me-1"></i>
                  <span class="d-none d-sm-block"> Ai-Pilot</span></button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="navs-justified-home" role="tabpanel">
               
                @Html.Partial("_Table", Model)
            </div>
            <div class="tab-pane fade" id="navs-justified-profile" role="tabpanel">
                @Html.Partial("_Dashboard", Model)
            </div>
            <div class="tab-pane fade" id="navs-justified-messages" role="tabpanel">
                <p>In Maintenance</p>
            </div>
        </div>
    </div>
</div>
@section PageScripts {
  
   
}

@section PageStyles {
    <style>
        .stars {
            font-size: 1.5rem;
        }
    </style>
}
