
@{
    ViewData["Title"] = "Reddit";
    ViewData["container"] = (ViewData["container"] ?? "container-fluid");
    ViewData["containerNav"] = (ViewData["containerNav"] ?? "container-fluid");
}

<h1>Reddit</h1>

