<section id="landingReviews" class="section-py bg-body landing-reviews pb-0">
    <!-- What people say slider: Start -->
    <div class="container">
        <div class="row align-items-center gx-0 gy-4 g-lg-5 mb-5 pb-md-5">
            <div class="col-md-6 col-lg-5 col-xl-3">
                <div class="mb-4">
                    <span class="badge bg-label-primary">Real Customer Reviews</span>
                </div>
                <h4 class="mb-1">
                    <span class="position-relative fw-extrabold z-1">
                        What people say
                        <img src="/assets/img/front-pages/icons/section-title-icon.png"
                             alt="market analytics hub"
                             class="section-title-img position-absolute object-fit-contain bottom-0 z-n1">
                    </span>
                </h4>
                <p class="mb-5 mb-md-12">
                    See what our customers have to say<br class="d-none d-xl-block">
                    about their experience with Market Analytics Hub.
                </p>
                <div class="landing-reviews-btns">
                    <button id="reviews-previous-btn" class="btn btn-icon btn-label-primary reviews-btn me-3"
                            type="button">
                        <i class="bx bx-chevron-left bx-md"></i>
                    </button>
                    <button id="reviews-next-btn" class="btn btn-icon btn-label-primary reviews-btn"
                            type="button">
                        <i class="bx bx-chevron-right bx-md"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 col-xl-9">
                <div class="swiper-reviews-carousel overflow-hidden">
                    <div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden"
                         id="swiper-reviews">
                        <div class="swiper-wrapper" id="swiper-wrapper-09037d8f744a5b6b" aria-live="off"
                             style="cursor: grab; transition-duration: 0ms; transform: translate3d(-708px, 0px, 0px); transition-delay: 0ms;">
                            <div class="swiper-slide" role="group" aria-label="1 / 6"
                                 data-swiper-slide-index="0" style="width: 328px; margin-right: 26px;">
                                <div class="card h-100">
                                    <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                        <div class="mb-4">
                                            <img src="/assets/img/front-pages/branding/logo-1.png"
                                                 alt="client logo" class="client-logo img-fluid">
                                        </div>
                                        <p>
                                            “Market Analytics Hub is hands down the most useful tool I've ever used for market analysis. I can't wait to use it again for my next project.”
                                        </p>
                                        <div class="text-warning mb-4">
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar me-3 avatar-sm">
                                                <img src="/assets/img/avatars/1.png" alt="Avatar"
                                                     class="rounded-circle">
                                            </div>
                                            <div>
                                                <h6 class="mb-0">Cecilia Payne</h6>
                                                <p class="small text-muted mb-0">CEO of Airbnb</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-active" role="group" aria-label="2 / 6"
                                 data-swiper-slide-index="1" style="width: 328px; margin-right: 26px;">
                                <div class="card h-100">
                                    <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                        <div class="mb-4">
                                            <img src="/assets/img/front-pages/branding/logo-2.png"
                                                 alt="client logo" class="client-logo img-fluid">
                                        </div>
                                        <p>
                                            “I've never used a tool as versatile and flexible as Market Analytics Hub. It's my go-to for comprehensive market research.”
                                        </p>
                                        <div class="text-warning mb-4">
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar me-3 avatar-sm">
                                                <img src="/assets/img/avatars/2.png" alt="Avatar"
                                                     class="rounded-circle">
                                            </div>
                                            <div>
                                                <h6 class="mb-0">Eugenia Moore</h6>
                                                <p class="small text-muted mb-0">Founder of Hubspot</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" role="group" aria-label="3 / 6"
                                 data-swiper-slide-index="2" style="width: 328px; margin-right: 26px;">
                                <div class="card h-100">
                                    <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                        <div class="mb-4">
                                            <img src="/assets/img/front-pages/branding/logo-3.png"
                                                 alt="client logo" class="client-logo img-fluid">
                                        </div>
                                        <p>
                                            “This tool is really clean & well documented. The documentation is easy to understand and it's always easy to find the needed information.”
                                        </p>
                                        <div class="text-warning mb-4">
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar me-3 avatar-sm">
                                                <img src="/assets/img/avatars/3.png" alt="Avatar"
                                                     class="rounded-circle">
                                            </div>
                                            <div>
                                                <h6 class="mb-0">Curtis Fletcher</h6>
                                                <p class="small text-muted mb-0">Design Lead at Dribbble</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" role="group" aria-label="4 / 6"
                                 data-swiper-slide-index="3" style="width: 328px; margin-right: 26px;">
                                <div class="card h-100">
                                    <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                        <div class="mb-4">
                                            <img src="/assets/img/front-pages/branding/logo-4.png"
                                                 alt="client logo" class="client-logo img-fluid">
                                        </div>
                                        <p>
                                            “Market Analytics Hub has taken all my market analysis needs into consideration, allowing me to conduct thorough research effortlessly.”
                                        </p>
                                        <div class="text-warning mb-4">
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bx-star"></i>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar me-3 avatar-sm">
                                                <img src="/assets/img/avatars/4.png" alt="Avatar"
                                                     class="rounded-circle">
                                            </div>
                                            <div>
                                                <h6 class="mb-0">Sara Smith</h6>
                                                <p class="small text-muted mb-0">Founder of Continental</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" role="group" aria-label="5 / 6"
                                 data-swiper-slide-index="4" style="width: 328px; margin-right: 26px;">
                                <div class="card h-100">
                                    <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                        <div class="mb-4">
                                            <img src="/assets/img/front-pages/branding/logo-5.png"
                                                 alt="client logo" class="client-logo img-fluid">
                                        </div>
                                        <p>
                                            “Market Analytics Hub is my go-to tool for in-depth market research. It's versatile and flexible, making analysis a breeze.”
                                        </p>
                                        <div class="text-warning mb-4">
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar me-3 avatar-sm">
                                                <img src="/assets/img/avatars/5.png" alt="Avatar"
                                                     class="rounded-circle">
                                            </div>
                                            <div>
                                                <h6 class="mb-0">Eugenia Moore</h6>
                                                <p class="small text-muted mb-0">Founder of Hubspot</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" role="group" aria-label="6 / 6"
                                 data-swiper-slide-index="5" style="width: 328px; margin-right: 26px;">
                                <div class="card h-100">
                                    <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                        <div class="mb-4">
                                            <img src="/assets/img/front-pages/branding/logo-6.png"
                                                 alt="client logo" class="client-logo img-fluid">
                                        </div>
                                        <p>
                                            “Market Analytics Hub has transformed how I conduct market analysis. It's efficient, user-friendly, and highly effective.”
                                        </p>
                                        <div class="text-warning mb-4">
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bxs-star"></i>
                                            <i class="bx bx-star"></i>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar me-3 avatar-sm">
                                                <img src="/assets/img/avatars/6.png" alt="Avatar"
                                                     class="rounded-circle">
                                            </div>
                                            <div>
                                                <h6 class="mb-0">Sara Smith</h6>
                                                <p class="small text-muted mb-0">Founder of Continental</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                             aria-controls="swiper-wrapper-09037d8f744a5b6b"></div>
                        <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"
                             aria-controls="swiper-wrapper-09037d8f744a5b6b"></div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- What people say slider: End -->
    <hr class="m-0 mt-6 mt-md-12">
    <!-- Logo slider: Start -->
    <div class="container">
        <div class="swiper-logo-carousel pt-8">
            <div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden"
                 id="swiper-clients-logos">
                <div class="swiper-wrapper" id="swiper-wrapper-096d95127710320c5" aria-live="off">
                    <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 5"
                         style="width: 144px;">
                        <img src="/assets/img/front-pages/branding/logo_1-light.png" alt="client logo"
                             class="client-logo" data-app-light-img="front-pages/branding/logo_1-light.png"
                             data-app-dark-img="front-pages/branding/logo_1-dark.png">
                    </div>
                    <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 5"
                         style="width: 144px;">
                        <img src="/assets/img/front-pages/branding/logo_2-light.png" alt="client logo"
                             class="client-logo" data-app-light-img="front-pages/branding/logo_2-light.png"
                             data-app-dark-img="front-pages/branding/logo_2-dark.png">
                    </div>
                    <div class="swiper-slide" role="group" aria-label="3 / 5" style="width: 144px;">
                        <img src="/assets/img/front-pages/branding/logo_3-light.png" alt="client logo"
                             class="client-logo" data-app-light-img="front-pages/branding/logo_3-light.png"
                             data-app-dark-img="front-pages/branding/logo_3-dark.png">
                    </div>
                    <div class="swiper-slide" role="group" aria-label="4 / 5" style="width: 144px;">
                        <img src="/assets/img/front-pages/branding/logo_4-light.png" alt="client logo"
                             class="client-logo" data-app-light-img="front-pages/branding/logo_4-light.png"
                             data-app-dark-img="front-pages/branding/logo_4-dark.png">
                    </div>
                    <div class="swiper-slide" role="group" aria-label="5 / 5" style="width: 144px;">
                        <img src="/assets/img/front-pages/branding/logo_5-light.png" alt="client logo"
                             class="client-logo" data-app-light-img="front-pages/branding/logo_5-light.png"
                             data-app-dark-img="front-pages/branding/logo_5-dark.png">
                    </div>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
    </div>
    <!-- Logo slider: End -->
</section>
