<section id="landingFunFacts" class="section-py landing-fun-facts">
    <div class="container">
        <div class="row gy-6">
            <div class="col-sm-6 col-lg-3">
                <div class="card border border-primary shadow-none">
                    <div class="card-body text-center">
                        <img src="/assets/img/front-pages/icons/laptop.svg" alt="laptop" class="mb-4">
                        <h3 class="mb-0">7.1k+</h3>
                        <p class="fw-medium mb-0">
                            Support Tickets<br>
                            Resolved
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card border border-success shadow-none">
                    <div class="card-body text-center">
                        <img src="/assets/img/front-pages/icons/user-success.svg" alt="laptop"
                             class="mb-4">
                        <h3 class="mb-0">50k+</h3>
                        <p class="fw-medium mb-0">
                            Join creatives<br>
                            community
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card border border-info shadow-none">
                    <div class="card-body text-center">
                        <img src="/assets/img/front-pages/icons/diamond-info.svg" alt="laptop"
                             class="mb-4">
                        <h3 class="mb-0">4.8/5</h3>
                        <p class="fw-medium mb-0">
                            Highly Rated<br>
                            Products
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card border border-warning shadow-none">
                    <div class="card-body text-center">
                        <img src="/assets/img/front-pages/icons/check-warning.svg" alt="laptop"
                             class="mb-4">
                        <h3 class="mb-0">100%</h3>
                        <p class="fw-medium mb-0">
                            Money Back<br>
                            Guarantee
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
