<nav class="layout-navbar shadow-none py-0">
    <div class="container">
        <div class="navbar navbar-expand-lg landing-navbar px-3 px-md-8">
            <!-- Menu logo wrapper: Start -->
            <div class="navbar-brand app-brand demo d-flex py-0 me-4 me-xl-8">
                <!-- Mobile menu toggle: Start-->
                <button class="navbar-toggler border-0 px-0 me-4" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="tf-icons bx bx-menu bx-lg align-middle text-heading fw-medium"></i>
                </button>
                <!-- Mobile menu toggle: End-->
                <a href="#" class="app-brand-link">
                    <span class="app-brand-logo demo">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><clipPath id="d204b9c05c"><path d="M 123 23.707031 L 182 23.707031 L 182 242 L 123 242 Z M 123 23.707031 " clip-rule="nonzero"/></clipPath></defs><path fill="#8c52ff" d="M 95.167969 129.371094 L 37.785156 160.128906 L 37.785156 239.101562 L 95.167969 202.605469 L 95.167969 129.371094 " fill-opacity="1" fill-rule="nonzero"/><path fill="#8c52ff" d="M 95.167969 274.800781 L 95.167969 274.011719 L 93.769531 274.800781 Z M 95.167969 274.800781 " fill-opacity="1" fill-rule="nonzero"/><g clip-path="url(#d204b9c05c)"><path fill="#8c52ff" d="M 181.230469 23.601562 L 123.851562 54.359375 L 123.851562 184.984375 L 181.230469 241.011719 L 181.230469 23.601562 " fill-opacity="1" fill-rule="nonzero"/></g><path fill="#8c52ff" d="M 237.632812 213.992188 C 243.589844 210.273438 249.550781 206.613281 255.519531 202.949219 L 267.269531 195.75 L 267.269531 60.519531 L 209.914062 91.277344 L 209.914062 231.757812 C 214.617188 228.660156 219.566406 225.453125 224.816406 222.101562 C 229.042969 219.382812 233.328125 216.667969 237.632812 213.992188 " fill-opacity="1" fill-rule="nonzero"/><path fill="#cb6ce6" d="M 362.964844 180.648438 L 298.152344 169.140625 C 296.6875 168.875 295.601562 170.472656 296.386719 171.738281 L 308.328125 191.089844 L 303.8125 193.761719 L 300.804688 195.550781 L 264.5625 217.699219 C 258.625 221.335938 252.710938 224.988281 246.808594 228.671875 C 242.570312 231.324219 238.34375 233.988281 234.136719 236.695312 C 224.074219 243.132812 214.050781 249.667969 204.144531 256.390625 C 199.207031 259.742188 194.269531 263.136719 189.363281 266.589844 C 188.066406 267.5 186.777344 268.441406 185.480469 269.363281 L 182.105469 266.066406 L 129.566406 214.757812 L 121.175781 206.570312 L 112.03125 212.382812 L 100.601562 219.664062 L 10.601562 276.917969 L 21.417969 295.105469 L 116.292969 242.519531 L 116.304688 242.519531 L 152.757812 283.042969 L 171.398438 303.761719 L 178.15625 311.285156 L 179.710938 312.992188 L 192.859375 306.511719 C 198.242188 303.863281 203.578125 301.121094 208.859375 298.300781 C 214.152344 295.496094 219.402344 292.621094 224.640625 289.726562 C 235.101562 283.921875 245.457031 277.941406 255.753906 271.871094 C 266.0625 265.824219 276.257812 259.574219 286.445312 253.304688 L 322.519531 230.902344 L 324.582031 229.582031 L 329.976562 226.140625 L 341.394531 244.617188 C 342.160156 245.871094 344.046875 245.648438 344.5 244.242188 L 364.308594 182.878906 C 364.628906 181.878906 364 180.824219 362.964844 180.648438 " fill-opacity="1" fill-rule="nonzero"/></svg>
                    </span>
                    <span class="app-brand-text demo menu-text fw-bold ms-2 ps-1">Market Analytics Hub</span>
                </a>
            </div>
            <!-- Menu logo wrapper: End -->
            <!-- Menu wrapper: Start -->
            <div class="collapse navbar-collapse landing-nav-menu" id="navbarSupportedContent">
                <button class="navbar-toggler border-0 text-heading position-absolute end-0 top-0 scaleX-n1-rtl p-2"
                        type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="tf-icons bx bx-x bx-lg"></i>
                </button>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-medium active" aria-current="page"
                           href="#landingHero">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-medium" href="#landingFeatures">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-medium" href="#landingTeam">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-medium" href="#landingPricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-medium" href="#landingFAQ">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-medium" href="#landingContact">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/help-center-landing.html" class="nav-link  fw-medium" aria-expanded="false">
                            <span data-i18n="Help Center">Help Center</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://nova-stock-price-finder.vercel.app/" class="nav-link  fw-medium" aria-expanded="false">
                            <span data-i18n="Nova: Stock Price Finder">Stock Price Finder</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://nova-stock-price-finder.vercel.app/zack.html" class="nav-link  fw-medium" aria-expanded="false">
                            <span data-i18n="Nova: Zacks Framework Analisys">Zacks Analisys</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://nova-stock-price-finder.vercel.app/stocks.html" class="nav-link  fw-medium" aria-expanded="false">
                            <span data-i18n="Nova: Stocks Register">Stocks</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://nova-search-stock.netlify.app/" class="nav-link  fw-medium" aria-expanded="false">
                            <span data-i18n="Nova: Stock Analysis Tool">Stock Analysis Tool</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="landing-menu-overlay d-lg-none"></div>
            <!-- Menu wrapper: End -->
            <!-- Toolbar: Start -->
            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li>
                    <a href="/Account/Login" class="btn btn-primary">
                        <span class="tf-icons bx bx-log-in-circle scaleX-n1-rtl me-md-1"></span><span class="d-none d-md-block">Login/Register</span>
                    </a>
                </li>
                <!-- navbar button: End -->
            </ul>
            <!-- Toolbar: End -->
        </div>
    </div>
</nav>
