<section id="hero-animation">
    <div id="landingHero" class="section-py landing-hero position-relative">
        <img src="/assets/img/front-pages/backgrounds/hero-bg.png" alt="hero background"
             class="position-absolute top-0 start-50 translate-middle-x object-fit-cover w-100 h-100"
             data-speed="1">
        <div class="container">
            <div class="hero-text-box text-center position-relative">
                <h1 class="text-primary hero-title display-6 fw-extrabold">Market Analytics Hub: Predictive Insights</h1>
                <h2 class="hero-sub-title h6 mb-6">
                    Leverage predictive analytics to stay ahead of the market.<br class="d-none d-lg-block">
                    Reliable and easily customizable.
                </h2>
                <div class="landing-hero-btn d-inline-block position-relative">
                    <span class="hero-btn-item position-absolute d-none d-md-flex fw-medium">
                        Join us
                        <img src="/assets/img/front-pages/icons/Join-community-arrow.png"
                             alt="Join community arrow" class="scaleX-n1-rtl">
                    </span>
                    <a href="#landingPricing" class="btn btn-primary btn-lg">Get early access</a>
                </div>
            </div>
            <div id="heroDashboardAnimation" class="hero-animation-img">
                <a href="#" target="_blank">
                    <div id="heroAnimationImg" class="position-relative hero-dashboard-img"
                         style="transform: perspective(1200px) scale(1) rotateX(0deg) rotateY(0deg);">
                        <img src="/assets/img/front-pages/landing-page/hero-dashboard-light.png"
                             alt="hero dashboard" class="animation-img"
                             data-app-light-img="front-pages/landing-page/hero-dashboard-light.png"
                             data-app-dark-img="front-pages/landing-page/hero-dashboard-dark.png">
                        <img src="/assets/img/front-pages/landing-page/hero-elements-light.png"
                             alt="hero elements"
                             class="position-absolute hero-elements-img animation-img top-0 start-0"
                             data-app-light-img="front-pages/landing-page/hero-elements-light.png"
                             data-app-dark-img="front-pages/landing-page/hero-elements-dark.png"
                             style="transform: translateZ(0px);">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="landing-hero-blank"></div>
</section>
