<section id="landingPricing" class="section-py bg-body landing-pricing">
    <div class="container">
        <div class="text-center mb-4">
            <span class="badge bg-label-primary">Pricing Plans</span>
        </div>
        <h4 class="text-center mb-1">
            <span class="position-relative fw-extrabold z-1">
                Tailored pricing plans
                <img src="/assets/img/front-pages/icons/section-title-icon.png" alt="laptop charging"
                     class="section-title-img position-absolute object-fit-contain bottom-0 z-n1">
            </span>
            designed for you
        </h4>
        <p class="text-center pb-2 mb-7">
            All plans include 40+ advanced tools, such as portfolio management,<br> market sentiment analysis, and dividend management, to boost your returns.
            <br>Choose the plan that best fits your needs.
        </p>

        <div class="text-center mb-12">
            <div class="position-relative d-inline-block pt-3 pt-md-0">
                <label class="switch switch-sm switch-primary me-0">
                    <span class="switch-label fs-6 text-body me-3">Pay Monthly</span>
                    <input type="checkbox" class="switch-input price-duration-toggler" checked="">
                    <span class="switch-toggle-slider">
                        <span class="switch-on"></span>
                        <span class="switch-off"></span>
                    </span>
                    <span class="switch-label fs-6 text-body ms-3">Pay Annual</span>
                </label>
                <div class="pricing-plans-item position-absolute d-flex">
                    <img src="/assets/img/front-pages/icons/pricing-plans-arrow.png"
                         alt="pricing plans arrow" class="scaleX-n1-rtl">
                    <span class="fw-medium mt-2 ms-1"> Save 25%</span>
                </div>
            </div>
        </div>
        <div class="row g-6 pt-lg-5">
            <!-- Basic Plan: Start -->
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="text-center">
                            <img src="/assets/img/front-pages/icons/paper-airplane.png"
                                 alt="paper airplane icon" class="mb-8 pb-2">
                            <h4 class="mb-0">Basic</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="price-monthly h2 text-primary fw-extrabold mb-0 d-none">$19</span>
                                <span class="price-yearly h2 text-primary fw-extrabold mb-0">$14</span>
                                <sub class="h6 text-muted mb-n1 ms-1">/mo</sub>
                            </div>
                            <div class="position-relative pt-2">
                                <div class="price-yearly text-muted price-yearly-toggle">$168/year</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled pricing-list">
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    1 Portfolio
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    5 News Sources
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    100 AI-Pilot Queries
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    100 Event Analyses
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    50 Basic Text Analyses per month
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    CSV and Excel Export
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    News Analysis Reports
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Basic Support
                                </h6>
                            </li>
                        </ul>
                        <div class="d-grid mt-8">
                            <a href="https://cantinhode.net/products/market-analytics-hub-predictive-insights" class="btn btn-label-primary">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Basic Plan: End -->
            <!-- Small Business Plan: Start -->
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="text-center">
                            <img src="/assets/img/front-pages/icons/plane.png" alt="small business icon"
                                 class="mb-8 pb-2">
                            <h4 class="mb-0">Small Business</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="price-monthly h2 text-primary fw-extrabold mb-0 d-none">$50</span>
                                <span class="price-yearly h2 text-primary fw-extrabold mb-0">$50</span>
                                <sub class="h6 text-muted mb-n1 ms-1">/mo</sub>
                            </div>
                            <div class="position-relative pt-2">
                                <div class="price-yearly text-muted price-yearly-toggle">$600/year</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled pricing-list">
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    2 Portfolios
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    7 News Sources
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    150 AI-Pilot Queries
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    150 Event Analyses
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    100 Basic Text Analyses per month
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    CSV and Excel Export
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    News Analysis Reports
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Market Trend Analysis
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Automated Reporting
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Email Support
                                </h6>
                            </li>
                        </ul>
                        <div class="d-grid mt-8">
                            <a href="https://cantinhode.net/products/market-analytics-hub-predictive-insights-small-business-plan" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Small Business Plan: End -->
            <!-- Team Plan: Start -->
            <div class="col-xl-3 col-lg-6">
                <div class="card border border-primary shadow-xl">
                    <div class="card-header">
                        <div class="text-center">
                            <img src="/assets/img/front-pages/icons/plane.png" alt="plane icon"
                                 class="mb-8 pb-2">
                            <h4 class="mb-0">Team</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="price-monthly h2 text-primary fw-extrabold mb-0 d-none">$200</span>
                                <span class="price-yearly h2 text-primary fw-extrabold mb-0">$200</span>
                                <sub class="h6 text-muted mb-n1 ms-1">/mo</sub>
                            </div>
                            <div class="position-relative pt-2">
                                <div class="price-yearly text-muted price-yearly-toggle">$2000/year</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled pricing-list">
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    10 Portfolios
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    15 News Sources
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    300 AI-Pilot Queries
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    300 Event Analyses
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    300 Advanced Text Analyses per month
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    CSV and Excel Export
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    News Analysis Reports
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Market Trend Analysis
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Automated Reporting (API Integration)
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Client Management System (API Integration)
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Advanced Analytics (API Integration)
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Data Integration Tools (API Integration)
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Priority Support
                                </h6>
                            </li>
                        </ul>
                        <div class="d-grid mt-8">
                            <a href="https://cantinhode.net/products/market-analytics-hub-predictive-insights-team-plan-1" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Plan: End -->
            <!-- Enterprise Plan: Start -->
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="text-center">
                            <img src="/assets/img/front-pages/icons/shuttle-rocket.png"
                                 alt="shuttle rocket icon" class="mb-8 pb-2">
                            <h4 class="mb-0">Enterprise</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="price-monthly h2 text-primary fw-extrabold mb-0 d-none">$1000</span>
                                <span class="price-yearly h2 text-primary fw-extrabold mb-0">$1000</span>
                                <sub class="h6 text-muted mb-n1 ms-1">/mo</sub>
                            </div>
                            <div class="position-relative pt-2">
                                <div class="price-yearly text-muted price-yearly-toggle">$12000/year</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled pricing-list">
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Unlimited Portfolios
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Unlimited News Sources
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    1000 AI-Pilot Queries
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    1000 Event Analyses
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    1000 Advanced Text Analyses per month
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    CSV and Excel Export
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    News Analysis Reports
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Comprehensive Market Analytics Dashboard
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Predictive Analytics
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Customer Segmentation
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Competitor Analysis
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Advanced Data Visualization
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Real-time Data Monitoring
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Custom Reporting Tools
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Trend Analysis
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    Dedicated Account Manager
                                </h6>
                            </li>
                            <li>
                                <h6 class="d-flex align-items-center mb-3">
                                    <span class="badge badge-center rounded-pill bg-label-primary p-0 me-3">
                                        <i class="bx bx-check bx-12px"></i>
                                    </span>
                                    24/7 Priority Support
                                </h6>
                            </li>
                        </ul>
                        <div class="d-grid mt-8">
                            <a href="https://cantinhode.net/products/market-analytics-hub-predictive-insights-enterprise-plan" class="btn btn-label-primary">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Enterprise Plan: End -->
        </div>
    </div>
</section>
