<section id="landingTeam" class="section-py landing-team">
    <div class="container">
        <div class="text-center mb-4">
            <span class="badge bg-label-primary">Our Great Team</span>
        </div>
        <h4 class="text-center mb-1">
            <span class="position-relative fw-extrabold z-1">
                Supported
                <img src="/assets/img/front-pages/icons/section-title-icon.png" alt="support team"
                     class="section-title-img position-absolute object-fit-contain bottom-0 z-n1">
            </span>
            by Real People
        </h4>
        <p class="text-center mb-md-11 pb-0 pb-xl-12">Who is behind these great platform and assuming all rules?</p>
        <div class="row gy-12 mt-2">
            <div class="col-lg-3 col-sm-6">
                <div class="card mt-3 mt-lg-0 shadow-none">
                    <div class="bg-label-primary border border-bottom-0 border-label-primary position-relative team-image-box">
                        <img src="/assets/img/front-pages/landing-page/team-member.png"
                             class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl"
                             alt="team member">
                    </div>
                    <div class="card-body border border-top-0 border-label-primary text-center py-5">
                        <h5 class="card-title mb-0">Pedro Martins</h5>
                        <p class="text-muted mb-0">Sales Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card mt-3 mt-lg-0 shadow-none">
                    <div class="bg-label-info border border-bottom-0 border-label-info position-relative team-image-box">
                        <img src="/assets/img/front-pages/landing-page/team-member.png"
                             class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl"
                             alt="team member">
                    </div>
                    <div class="card-body border border-top-0 border-label-info text-center py-5">
                        <h5 class="card-title mb-0">Pedro Martins</h5>
                        <p class="text-muted mb-0">UI Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card mt-3 mt-lg-0 shadow-none">
                    <div class="bg-label-danger border border-bottom-0 border-label-danger position-relative team-image-box">
                        <img src="/assets/img/front-pages/landing-page/team-member.png"
                             class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl"
                             alt="team member">
                    </div>
                    <div class="card-body border border-top-0 border-label-danger text-center py-5">
                        <h5 class="card-title mb-0">Pedro Martins</h5>
                        <p class="text-muted mb-0">Research Lead</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card mt-3 mt-lg-0 shadow-none">
                    <div class="bg-label-success border border-bottom-0 border-label-success position-relative team-image-box">
                        <img src="/assets/img/front-pages/landing-page/team-member.png"
                             class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl"
                             alt="team member">
                    </div>
                    <div class="card-body border border-top-0 border-label-success text-center py-5">
                        <h5 class="card-title mb-0">Pedro Martins</h5>
                        <p class="text-muted mb-0">Marketing Manager</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
