<section id="landingFeatures" class="section-py landing-features">
    <div class="container">
        <div class="text-center mb-4">
            <span class="badge bg-label-primary">Key Features</span>
        </div>
        <h4 class="text-center mb-1">
            <span class="position-relative fw-extrabold z-1">
                Everything you need
                <img src="/assets/img/front-pages/icons/section-title-icon.png" alt="laptop charging"
                     class="section-title-img position-absolute object-fit-contain bottom-0 z-n1">
            </span>
            to analyze your stock portfolio
        </h4>
        <p class="text-center mb-12">
            Not just a set of tools, the package includes a ready-to-deploy conceptual application for comprehensive stock market research and analysis.
        </p>
        <div class="features-icon-wrapper row gx-0 gy-6 g-sm-12">
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                <div class="text-center mb-4">
                    <img src="/assets/img/front-pages/icons/laptop.svg" alt="laptop charging">
                </div>
                <h5 class="mb-2">AI-Pilot Assistant</h5>
                <p class="features-icon-description">
                    Enhance your portfolio analysis with our AI-Pilot assistant, providing advanced insights and recommendations to make your market analysis more successful.
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                <div class="text-center mb-4">
                    <img src="/assets/img/front-pages/icons/rocket.svg" alt="transition up">
                </div>
                <h5 class="mb-2">Market Analysis</h5>
                <p class="features-icon-description">
                    Leverage in-depth market analysis tools to understand market trends, sector performance, and individual stock behavior.
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                <div class="text-center mb-4">
                    <img src="/assets/img/front-pages/icons/paper.svg" alt="edit">
                </div>
                <h5 class="mb-2">Real-Time Price Movements</h5>
                <p class="features-icon-description">
                    Stay updated with real-time price movements and make informed decisions quickly.
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                <div class="text-center mb-4">
                    <img src="/assets/img/front-pages/icons/check.svg" alt="3d select solid">
                </div>
                <h5 class="mb-2">API Ready</h5>
                <p class="features-icon-description">
                    Easily integrate your data by changing the endpoint, and start analyzing stock market information within seconds.
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                <div class="text-center mb-4">
                    <img src="/assets/img/front-pages/icons/user.svg" alt="user">
                </div>
                <h5 class="mb-2">Excellent Support</h5>
                <p class="features-icon-description">
                    Access comprehensive documentation with numerous references and code examples to support your stock market research.
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                <div class="text-center mb-4">
                    <img src="/assets/img/front-pages/icons/keyboard.svg" alt="keyboard">
                </div>
                <h5 class="mb-2">Well Documented</h5>
                <p class="features-icon-description">
                    Follow easy-to-understand documentation filled with references and examples, enhancing your market analysis capabilities.
                </p>
            </div>
        </div>
    </div>
</section>
