@model List<MarketAnalyticHub.Models.Portfolio.Portfolio>

    <div id="loading" class="loading-spinner">Loading...</div>
    <div class="col-md-12 chart-container">
        <div id="chart"></div>
    </div>


