@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Portfolio Manager";
}

<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">@Localizer["Portfolio Manager"] /</span> @Localizer["Portfolios"]
</h4>
@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}
@section VendorScripts {
    <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
}
@section PageScripts {
    <script src="~/js/dashboards-analytics.js"></script>
}
@* ************** Content ************** *@
<div class="row">
    <div class="col-lg-12 col-md-12 order-1">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="~/img/icons/unicons/chart-success.png" alt="chart success" class="rounded">
                            </div>
                            <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                            </div>
                        </div>
                        <span class="fw-medium d-block mb-1">Profit</span>
                        <h3 class="card-title mb-2">$12,628</h3>
                        <small class="text-success fw-medium"><i class='bx bx-up-arrow-alt'></i> +72.80%</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="~/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded">
                            </div>
                            <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                            </div>
                        </div>
                        <span>Dividends</span>
                        <h3 class="card-title text-nowrap mb-1">$4,679</h3>
                        <small class="text-success fw-medium"><i class='bx bx-up-arrow-alt'></i> +28.42%</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Total Revenue -->
    <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
        <div class="card">
            <div class="row row-bordered g-0">
                <div class="col-md-8">
                    <h5 class="card-header m-0 me-2 pb-3">Total Revenue</h5>
                    <div id="totalRevenueChart" class="px-2"></div>
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="growthReportId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    2022
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                                    <a class="dropdown-item" href="javascript:void(0);">2021</a>
                                    <a class="dropdown-item" href="javascript:void(0);">2020</a>
                                    <a class="dropdown-item" href="javascript:void(0);">2019</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="growthChart"></div>
                    <div class="text-center fw-medium pt-3 mb-2">62% Portfolio Growth</div>

                    <div class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
                        <div class="d-flex">
                            <div class="me-2">
                                <span class="badge bg-label-primary p-2"><i class="bx bx-dollar text-primary"></i></span>
                            </div>
                            <div class="d-flex flex-column">
                                <small>2022</small>
                                <h6 class="mb-0">$32.5k</h6>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="me-2">
                                <span class="badge bg-label-info p-2"><i class="bx bx-wallet text-info"></i></span>
                            </div>
                            <div class="d-flex flex-column">
                                <small>2021</small>
                                <h6 class="mb-0">$41.2k</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Total Revenue -->
    <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
        <div class="row">
            <div class="col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="~/img/icons/unicons/paypal.png" alt="Credit Card" class="rounded">
                            </div>
                            <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt4">
                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                            </div>
                        </div>
                        <span class="d-block mb-1">Payments</span>
                        <h3 class="card-title text-nowrap mb-2">$2,456</h3>
                        <small class="text-danger fw-medium"><i class='bx bx-down-arrow-alt'></i> -14.82%</small>
                    </div>
                </div>
            </div>
            <div class="col-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="~/img/icons/unicons/cc-primary.png" alt="Credit Card" class="rounded">
                            </div>
                            <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="cardOpt1">
                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                            </div>
                        </div>
                        <span class="fw-medium d-block mb-1">Operations</span>
                        <h3 class="card-title mb-2">$14,857</h3>
                        <small class="text-success fw-medium"><i class='bx bx-up-arrow-alt'></i> +28.14%</small>
                    </div>
                </div>
            </div>
            <!-- </div>
            <div class="row"> -->
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                            <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                                <div class="card-title">
                                    <h5 class="text-nowrap mb-2">Profile Report</h5>
                                    <span class="badge bg-label-warning rounded-pill">Year 2021</span>
                                </div>
                                <div class="mt-sm-auto">
                                    <small class="text-success text-nowrap fw-medium"><i class='bx bx-chevron-up'></i> 68.2%</small>
                                    <h3 class="mb-0">$84,686k</h3>
                                </div>
                            </div>
                            <div id="profileReportChart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item"><button class="btn btn-primary" onclick="showAddPortfolioModal()">Add a new Portfolio</button></li>
        </ul>
        <div class="card mb-4">
            <h2 class="card-header">My Portfolios</h2>
            <div class="card-body" id="portfolioList">
                <!-- Portfolio list will be rendered here -->
            </div>
        </div>
    </div>
</div>

<!-- Add Portfolio Modal -->
<div id="addPortfolioModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Portfolio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addPortfolioForm">
                    <div class="form-group">
                        <label for="portfolioName">Name</label>
                        <input type="text" class="form-control" id="portfolioName" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Portfolio Modal -->
<div id="editPortfolioModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Portfolio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editPortfolioForm">
                    <input type="hidden" id="editPortfolioId">
                    <div class="form-group">
                        <label for="editPortfolioName">Name</label>
                        <input type="text" class="form-control" id="editPortfolioName" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add Portfolio Item Modal -->
<div id="addPortfolioItemModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Portfolio Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addPortfolioItemForm">
                    <input type="hidden" id="portfolioId" name="portfolioId">
                    <div class="form-group">
                        <label for="itemSymbol">Symbol</label>
                        <select class="form-control" id="itemSymbol" required>
                            <option value="" disabled selected>Select a symbol</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="itemQuantity">Quantity</label>
                        <input type="number" class="form-control" id="itemQuantity" required>
                    </div>
                    <div class="form-group">
                        <label for="itemPurchasePrice">Purchase Price</label>
                        <input type="number" class="form-control" id="itemPurchasePrice" step="0.01" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        loadPortfolios();
        loadSymbols();
    });

    async function loadPortfolios() {
        const response = await fetch('/api/Portfolio', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        });

        if (response.ok) {
            const portfolios = await response.json();
            renderPortfolioList(portfolios);
        } else {
            alert('Failed to load portfolios');
        }
    }

    async function loadSymbols() {
        const response = await fetch('/api/Symbols', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        });

        if (response.ok) {
            const symbols = await response.json();
            const symbolSelect = document.getElementById('itemSymbol');
            symbols.forEach(symbol => {
                const option = document.createElement('option');
                option.value = symbol;
                option.text = symbol;
                symbolSelect.appendChild(option);
            });
        } else {
            alert('Failed to load symbols');
        }
    }

    function renderPortfolioList(portfolios) {
        const portfolioList = document.getElementById('portfolioList');
        portfolioList.innerHTML = '';
        portfolios.forEach(portfolio => {
            const portfolioDiv = document.createElement('div');
            portfolioDiv.classList.add('card', 'mb-3');
            portfolioDiv.innerHTML = `
                            <div class="card-body">
                                <h3 class="card-title">${portfolio.name}</h3>
                                <p>Total Investment: ${portfolio.totalInvestment.toFixed(2)}</p>
                                <p>Current Market Value: ${portfolio.currentMarketValue.toFixed(2)}</p>
                                <button class="btn btn-secondary" onclick="showAddPortfolioItemModal(${portfolio.id})">Add Operations</button>
                                <button class="btn btn-danger" onclick="deletePortfolio(${portfolio.id})">Delete Portfolio</button>
                                <button class="btn btn-primary" onclick="showEditPortfolioModal(${portfolio.id}, '${portfolio.name}')">Edit Portfolio</button>
                                <canvas id="chart-${portfolio.id}"></canvas>
                            </div>
                            <ul class="list-group list-group-flush">
                                ${portfolio.items.map(item => `
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <strong>Symbol:</strong> ${item.symbol} <br>
                                                <strong>Quantity:</strong> ${item.quantity} <br>
                                                <strong>Purchase Price:</strong> ${item.purchasePrice.toFixed(2)} <br>
                                            </div>
                                            <div>
                                                <button class="btn btn-primary btn-sm" onclick="showEditPortfolioItemModal(${item.id})">Edit</button>
                                                <button class="btn btn-danger btn-sm" onclick="deletePortfolioItem(${item.id})">Delete</button>
                                            </div>
                                        </div>
                                    </li>
                                `).join('')}
                            </ul>
                        `;
            portfolioList.appendChild(portfolioDiv);
            renderChart(portfolio);
        });
    }

    function showAddPortfolioModal() {
        document.getElementById('addPortfolioForm').reset();
        new bootstrap.Modal(document.getElementById('addPortfolioModal')).show();
    }

    function showEditPortfolioModal(id, name) {
        document.getElementById('editPortfolioId').value = id;
        document.getElementById('editPortfolioName').value = name;
        new bootstrap.Modal(document.getElementById('editPortfolioModal')).show();
    }

    function showAddPortfolioItemModal(portfolioId) {
        document.getElementById('addPortfolioItemForm').reset();
        document.getElementById('portfolioId').value = portfolioId;
        new bootstrap.Modal(document.getElementById('addPortfolioItemModal')).show();
    }

    async function showEditPortfolioItemModal(itemId) {
        const response = await fetch(`/api/PortfolioItem/item/${itemId}`);
        const item = await response.json();

        if (response.ok) {
            document.getElementById('portfolioId').value = item.portfolioId;
            document.getElementById('itemSymbol').value = item.symbol;
            document.getElementById('itemQuantity').value = item.quantity;
            document.getElementById('itemPurchasePrice').value = item.purchasePrice;
            new bootstrap.Modal(document.getElementById('addPortfolioItemModal')).show();
        } else {
            alert('Failed to load portfolio item');
        }
    }

    async function savePortfolioItem() {
        const portfolioId = document.getElementById('portfolioId').value;
        const symbol = document.getElementById('itemSymbol').value;
        const quantity = document.getElementById('itemQuantity').value;
        const purchasePrice = document.getElementById('itemPurchasePrice').value;

        const response = await fetch('/api/PortfolioItem', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ portfolioId, symbol, quantity, purchasePrice })
        });

        if (response.ok) {
            bootstrap.Modal.getInstance(document.getElementById('addPortfolioItemModal')).hide();
            loadPortfolios();
        } else {
            alert('Failed to save portfolio item');
        }
    }

    async function deletePortfolioItem(id) {
        const response = await fetch(`/api/PortfolioItem/${id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        });

        if (response.ok) {
            loadPortfolios();
        } else {
            alert('Failed to delete portfolio item');
        }
    }

    async function deletePortfolio(id) {
        const response = await fetch(`/api/Portfolio/${id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        });

        if (response.ok) {
            loadPortfolios();
        } else {
            alert('Failed to delete portfolio');
        }
    }

    document.getElementById('addPortfolioForm').addEventListener('submit', async function (event) {
        event.preventDefault();
        const name = document.getElementById('portfolioName').value;

        const response = await fetch('/api/Portfolio', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name })
        });

        if (response.ok) {
            bootstrap.Modal.getInstance(document.getElementById('addPortfolioModal')).hide();
            loadPortfolios();
        } else {
            alert('Failed to add portfolio');
        }
    });

    document.getElementById('editPortfolioForm').addEventListener('submit', async function (event) {
        event.preventDefault();
        const id = document.getElementById('editPortfolioId').value;
        const name = document.getElementById('editPortfolioName').value;

        const response = await fetch(`/api/Portfolio/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id, name })
        });

        if (response.ok) {
            bootstrap.Modal.getInstance(document.getElementById('editPortfolioModal')).hide();
            loadPortfolios();
        } else {
            alert('Failed to edit portfolio');
        }
    });

    document.getElementById('addPortfolioItemForm').addEventListener('submit', async function (event) {
        event.preventDefault();
        const portfolioId = document.getElementById('portfolioId').value;
        const symbol = document.getElementById('itemSymbol').value;
        const quantity = document.getElementById('itemQuantity').value;
        const purchasePrice = document.getElementById('itemPurchasePrice').value;

        const response = await fetch('/api/PortfolioItem', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ portfolioId, symbol, quantity, purchasePrice })
        });

        if (response.ok) {
            bootstrap.Modal.getInstance(document.getElementById('addPortfolioItemModal')).hide();
            loadPortfolios();
        } else {
            alert('Failed to add portfolio item');
        }
    });

    function renderChart(portfolio) {
        const ctx = document.getElementById(`chart-${portfolio.id}`).getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: portfolio.items.map(item => item.symbol),
                datasets: [{
                    label: 'Current Market Value',
                    data: portfolio.items.map(item => item.currentMarketValue),
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }, {
                    label: 'Total Investment',
                    data: portfolio.items.map(item => item.totalInvestment),
                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                    borderColor: 'rgba(153, 102, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }
</script>
